<?xml version='1.0' encoding='utf-8'?>
<widget id="com.thinktecture.ngeurope.sample" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
  <name>ngEurope Sample</name>
  <description>
    This sample application works as a PWA and desktop/mobile app. Not bad, huh?
  </description>
  <author email="office@thinktecture.com" href="http://thinktecture.com">
    Thinktecture AG
  </author>
  <content src="index.html" />
  <plugin name="cordova-plugin-whitelist" spec="1" />
  <access origin="*" />
  <allow-intent href="http://*/*" />
  <allow-intent href="https://*/*" />
  <allow-intent href="tel:*" />
  <allow-intent href="sms:*" />
  <allow-intent href="mailto:*" />
  <allow-intent href="geo:*" />
  <platform name="android">
    <allow-intent href="market:*" />
  </platform>
  <platform name="ios">
    <allow-intent href="itms:*" />
    <allow-intent href="itms-apps:*" />
  </platform>
  <engine name="ios" spec="~4.4.0" />
  <plugin name="cordova-plugin-x-socialsharing" spec="~5.1.8" />
  <plugin name="cordova-plugin-camera" spec="~4.0.2" />
  <plugin name="cordova-plugin-statusbar" spec="~2.2.3" />
  <plugin name="cordova-plugin-splashscreen" spec="~4.0.3" />
  <plugin name="cordova-plugin-wkwebview-engine" spec="https://github.com/driftyco/cordova-plugin-wkwebview-engine.git" />
  <preference name="xwalkVersion" value="19+" />
  <preference name="xwalkCommandLine" value="--disable-pull-to-refresh-effect" />
  <preference name="xwalkMode" value="embedded" />
  <preference name="xwalkMultipleApk" value="true" />
  <plugin name="cordova-plugin-crosswalk-webview" spec="~2.3.0" />

  <allow-navigation href="http://localhost:8080/*"/>
  <feature name="CDVWKWebViewEngine">
    <param name="ios-package" value="CDVWKWebViewEngine" />
  </feature>

  <preference name="CordovaWebViewEngine" value="CDVWKWebViewEngine" />

  <preference name="StatusBarOverlaysWebView" value="false"/>
  <preference name="StatusBarBackgroundColor" value="#FF584F"/>
  <preference name="StatusBarStyle" value="lightcontent"/>

  <edit-config target="NSCameraUsageDescription" file="*-Info.plist" mode="merge">
    <string>Please smile.</string>
  </edit-config>
</widget>
